<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Property web scraper</title>
    <%= stylesheet_link_tag    "property_web_scraper/application", media: "all" %>
    <%= javascript_include_tag "property_web_scraper/application" %>
    <%= csrf_meta_tags %>

    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render :partial => '/property_web_scraper/header', :locals => {}  %>

    <div>
      <h3>
        <%= link_to "home", "/" %>
      </h3>
      <br>
      <br>
    </div>
    <%= yield %>
    <%= render :partial => '/property_web_scraper/header', :locals => {}  %>
  </body>
</html>