<div class="row">
  <div class="col-sm-12">
    <% if @import_host %>
      <%= form_tag("/scrapers/#{@import_host.id}/retrieve", method: "get") do %>
        <br>
        <br>
        <br>
        <div>
          <p>
            Please enter the url for a property from <%= link_to "#{@import_host.host_url}", "#{@import_host.host_url}", target: "_blank" %>
          </p>
          <%# label_tag(:source_url, "Webpage URL:") %>
          <span class="url_input">
            <%= text_field_tag(:source_url) %>
          </span>
          <%= submit_tag("Retrieve property info") %>
        </div>
      <% end %>
      <br>
    <% else %>
      <div>
        Sorry, scraper could not be found
    </div>
    <% end %>
  </div>
</div>
<% if @import_host_listings.length > 0 %>
  <div class="row">
    <div class="col-sm-8">
      <br>
      <br>
      <br>
      <h3>Previously imported listings </h3>
      <br>
      <br>
      <br>
    </div>
  </div>
<% end %>
<% @import_host_listings.each do |listing| %>
  <div class="row">
    <div class="col-sm-2">
      <span> <%= listing.reference %> </span>
    </div>
    <div class="col-sm-2">
      <span> <%= listing.price %> </span>
    </div>
    <div class="col-sm-8">
      <%= link_to listing.import_url, listing.import_url, target: "_blank" %>
    </div>
  </div>
<% end %>