<div class="row">
  <div class="col-sm-12">
    <% if @import_host %>
      <%= form_tag("/scrapers/#{@import_host.id}/retrieve", method: "get") do %>
        <br>
        <br>
        <br>
        <div>
          <%= label_tag(:source_url, "Webpage URL:") %>
          <span class="url_input">
            <%= text_field_tag(:source_url) %>
          </span>
          <p>
            Please use a url from this site <%= link_to "#{@import_host.host_url}", "#{@import_host.host_url}", target: "_blank" %>
          </p>
        </div>
        <br>
        <%= submit_tag("Retrieve from webpage") %>
      <% end %>
      <br>
      <p><a href="https://github.com/etewiah/property_web_builder/issues/13">
          This is an experimental feature. Help us improve it by giving feedback here.</a>
      </p>
    <% else %>
      <div>
        Sorry, scraper could not be found
    </div>
    <% end %>
  </div>
</div>