<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">
      Easily retrieve details of properties for sale or rent in a standard format
    </h3>
    <div>
      <% @clients_hash.keys.each do |client_key| %>
        <div>
          <%= client_key.to_s %><a href="/stash/<%= client_key %>">/stash/<%= client_key %></a>
          <% @clients_hash[client_key].keys.each do |prop_key| %>
            <div>
              <%= @clients_hash[client_key][prop_key].to_s %>
              <a href="/stash/<%= client_key %>/<%= prop_key %>">/stash/<%= client_key %>/<%= prop_key %></a>
            </div>
            <hr>
          <% end %>
        </div>
        <hr>
      <% end %>
      ttt
    </div>
  </div>
</div>